home/config/micro/buffers/
home/config/micro/backups/

home/config/hypr/images/bg/

home/config/gtk-3.0/bookmarks

fontbuild/FontPatcher.zip
fontbuild/references/
fontbuild/patcher/
fontbuild/overpass/
fontbuild/out/

winfonts/
