
* {
	/* background-color: @background; */
	border: none;
	font-family: 'monospace';
	font-size: 14px;
	font-weight: bold;
}

window#waybar {
	background: transparent;
	transition-property: background-color;
	transition-duration: .5s;
}


window#waybar > box {
	border-radius: 0 0 10px 10px;
	margin: 0px 16px 8px 16px;
	background-color: #222222;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .35);
	padding: 2px 10px;
	color: #cccccc;
}

#window {
	margin: 0;
	padding: 0;
	padding-top: 8px;
	font-size: 8px;
}

#window,
#cpu,
#memory,
#temperature,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray {
	padding: 0 8px;
	margin: 0;
	background: transparent;
}

#custom-media_prev {
	padding-left: 8px;
	padding-right: 5px;
	background: transparent;
}

#custom-media_next {
	padding-left: 5px;
	padding-right: 8px;
	background: transparent;
}

#mpris {
	padding: 0;
	background: transparent;
}

#mpris.playing {
	color: #77cc77;
}

#mpris.paused {
	color: #cccc77;
}

#cpu,
#memory,
#temperature,
#battery {
	color: #77cc77;
}

#cpu.warning,
#memory.warning,
#battery.warning {
	color: #cccc77;
}

#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.critical {
	color: #cc7777;
}

#battery.charging,
#battery.plugged {
	color: #77cccc;
}

#workspaces button {
	padding: 0 5px;
	color: #777777;
	background: transparent;
	transition: 200ms;
}

#workspaces button.active {
	color: #cccccc;
	text-decoration: underline;
	background: transparent;
	transition: 200ms;
}

#workspaces button:hover {
	background: transparent;
}
